<div class="container container-background">
  <div class="panel row">
    {{#if this.hasErrors}}
    <div class="col">
      <ErrorsMessage />
    </div>
    {{else}}
    <div class="col space-mr-2">
      <LinkTo @route="forecast.show" @model={{this.cityName}}>
        <img src="/icons/circle-left.svg" alt="Back">
      </LinkTo>
    </div>
    <div>
      <div class="row">
        <div class="forecast-summary col">
          <div class="forecast-summary__top">
            <div class="display-1 forecast-summary__degrees">
              {{ round this.weather.main.temp }}º
            </div>
            <div class="forecast-summary__top-col">
              <div class="display-4 forecast-summary__date">{{ this.currentDate }}</div>
              <div class="forecast-summary__weather-summary">
                <img class="forecast-summary__weather-summary-icon"
                  src="/icons/{{get-weather-icon this.weather.weather.firstObject.icon }}.svg"
                  alt="{{ this.weather.weather.firstObject.description }} icon" width="32">
                <div class="body-2">
                  <div>{{ capitalize this.weather.weather.firstObject.description }}</div>
                  <div>Feels like: {{ round this.weather.main.feels_like }}º</div>
                </div>
              </div>
            </div>
            <div class="forecast-summary__top-col forecast-summary__min-and-max">
              <div class="display-4">Min: <b>{{ round this.weather.main.temp_min }}º</b></div>
              <div class="display-4">Max: <b>{{ round this.weather.main.temp_max }}º</b></div>
            </div>
          </div>
          <div class="display-2 space-mt-1">{{ this.model.city.name }}</div>
        </div>

        <div class="forecast-details row align-bottom space-ml-5">
          <div class="forecast-details__item">
            <img src="/icons/wind.svg" alt="Wind Direction Icon" class="forecast-details__item-icon">
            <div class="forecast-details__item-data">
              <div class="subtitle-1">Wind Direction</div>
              <div class="body-1 space-mt-1">{{ this.weather.wind.speed }} km/h</div>
            </div>
          </div>
          <div class="forecast-details__item">
            <img src="/icons/humidity.svg" alt="Humidity Icon" class="forecast-details__item-icon">
            <div class="forecast-details__item-data">
              <div class="subtitle-1">Humidity</div>
              <div class="body-1 space-mt-1">{{ this.weather.main.humidity }}%</div>
            </div>
          </div>
          <div class="forecast-details__item">
            <img src="/icons/meter.svg" alt="Pressure Icon" class="forecast-details__item-icon">
            <div class="forecast-details__item-data">
              <div class="subtitle-1">Pressure</div>
              <div class="body-1 space-mt-1">{{ this.weather.main.pressure }} bar</div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="title space-mt-5">Next Hours Forecast</h2>

      <div class="next-hours-forecast space-mt-4">

        {{#each this.todayForecast as |weather| }}
        <div class="weather-hour space-mt-2">
          <img src="/icons/{{ get-weather-icon weather.weather.firstObject.icon }}.svg"
            alt="{{ weather.weather.firstObject.description }} icon" class="weather-hour__icon">
          <div class="col">
            <div class="weather-hour__time">{{ hour weather.dt_txt }}</div>
            <div class="weather-hour__weather">
              <b>{{ weather.main.temp }}º</b> {{ capitalize weather.weather.firstObject.description }}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </div>
</div>