<div class="container container-background">
  <div class="panel">
    <div class="row">
      <div class="col">
        <div class="forecast-summary">
          <div class="forecast-summary__top">
            <div class="display-1 forecast-summary__degrees">
              {{ round this.model.currentWeather.main.temp }}º
            </div>
            <div class="forecast-summary__top-col">
              <div class="display-4 forecast-summary__date">{{ this.currentDate }}</div>
              <div class="forecast-summary__weather-summary">
                <img class="forecast-summary__weather-summary-icon"
                  src="/icons/{{ get-weather-icon this.weather.icon }}.svg" alt="{{this.weather.description}} icon">
                <div class="body-2">
                  <div>{{ capitalize this.weather.description }}</div>
                  <div>Feels like: {{ round this.model.currentWeather.main.feels_like }}º</div>
                </div>
              </div>
            </div>
            <div class="forecast-summary__top-col forecast-summary__min-and-max">
              <div class="display-4">Min: <b>{{ round this.model.currentWeather.main.temp_min }}º</b></div>
              <div class="display-4">Max: <b>{{ round this.model.currentWeather.main.temp_max }}º</b></div>
            </div>
          </div>
          <div class="display-2 space-mt-1">{{ this.model.currentWeather.name }}</div>
        </div>

        <div class="forecast-controls">
          <LinkTo @route="index" class="btn btn--collapsed">
            <img src="/icons/pencil-icon.svg" alt="Pencil Icon">
          </LinkTo>
          <span class="caption text-grey">Data fecthed from OpenWeather® API</span>
        </div>
      </div>

      <div class="align-bottom space-ml-4">
        <ForecastDaily @forecast={{ this.model.forecast }} />
      </div>
    </div>

    <h2 class="title space-mt-4 space-mb-2">Next 6 days</h2>

    <div class="next-days ">
      <div class="next-days-card">
        <div class="next-days-card__date">
          Thursday 8
        </div>
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="next-days-card__icon">
        <div class="next-days-card__temperature">8º</div>
        <div class="next-days-card__situation">Mostly Sunny</div>
        <div class="next-days-card__rain-chances">0% chance of rain</div>
        <div class="next-days-card__low-temperature">1º low</div>
      </div>
      <div class="next-days-card">
        <div class="next-days-card__date">
          Thursday 8
        </div>
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="next-days-card__icon">
        <div class="next-days-card__temperature">8º</div>
        <div class="next-days-card__situation">Mostly Sunny</div>
        <div class="next-days-card__rain-chances">0% chance of rain</div>
        <div class="next-days-card__low-temperature">1º low</div>
      </div>
      <div class="next-days-card">
        <div class="next-days-card__date">
          Thursday 8
        </div>
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="next-days-card__icon">
        <div class="next-days-card__temperature">8º</div>
        <div class="next-days-card__situation">Mostly Sunny</div>
        <div class="next-days-card__rain-chances">0% chance of rain</div>
        <div class="next-days-card__low-temperature">1º low</div>
      </div>
      <div class="next-days-card">
        <div class="next-days-card__date">
          Thursday 8
        </div>
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="next-days-card__icon">
        <div class="next-days-card__temperature">8º</div>
        <div class="next-days-card__situation">Mostly Sunny</div>
        <div class="next-days-card__rain-chances">0% chance of rain</div>
        <div class="next-days-card__low-temperature">1º low</div>
      </div>
      <div class="next-days-card">
        <div class="next-days-card__date">
          Thursday 8
        </div>
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="next-days-card__icon">
        <div class="next-days-card__temperature">8º</div>
        <div class="next-days-card__situation">Mostly Sunny</div>
        <div class="next-days-card__rain-chances">0% chance of rain</div>
        <div class="next-days-card__low-temperature">1º low</div>
      </div>
      <div class="next-days-card">
        <div class="next-days-card__date">
          Thursday 8
        </div>
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="next-days-card__icon">
        <div class="next-days-card__temperature">8º</div>
        <div class="next-days-card__situation">Mostly Sunny</div>
        <div class="next-days-card__rain-chances">0% chance of rain</div>
        <div class="next-days-card__low-temperature">1º low</div>
      </div>
    </div>

    <h2 class="title space-mt-4 space-mb-2">Other 10 days</h2>

    <div class="other-days">
      <div class="other-days-card">
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="other-days-card__icon">
        <div class="col">
          <div class="other-days-card__date">Monday 12</div>
          <div class="other-days-card__temperature">8º</div>
          <div class="other-days-card__situation">Mostly Sunny</div>
          <div class="other-days-card__rain-chances">0% chance of rain</div>
        </div>
      </div>
      <div class="other-days-card">
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="other-days-card__icon">
        <div class="col">
          <div class="other-days-card__date">Monday 12</div>
          <div class="other-days-card__temperature">8º</div>
          <div class="other-days-card__situation">Mostly Sunny</div>
          <div class="other-days-card__rain-chances">0% chance of rain</div>
        </div>
      </div>
      <div class="other-days-card">
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="other-days-card__icon">
        <div class="col">
          <div class="other-days-card__date">Monday 12</div>
          <div class="other-days-card__temperature">8º</div>
          <div class="other-days-card__situation">Mostly Sunny</div>
          <div class="other-days-card__rain-chances">0% chance of rain</div>
        </div>
      </div>
      <div class="other-days-card">
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="other-days-card__icon">
        <div class="col">
          <div class="other-days-card__date">Monday 12</div>
          <div class="other-days-card__temperature">8º</div>
          <div class="other-days-card__situation">Mostly Sunny</div>
          <div class="other-days-card__rain-chances">0% chance of rain</div>
        </div>
      </div>
    </div>
  </div>
</div>