<div class="next-days-card space-mt-1" {{on 'click' this.goToForecastDay }}>
  <div class="next-days-card__date">
    {{ this.date }}
  </div>
  <img src="/icons/{{ get-weather-icon this.entry.weather.firstObject.icon }}.svg"
    alt="{{ this.entry.weather.firstObject.description }} icon" class="next-days-card__icon">
  <div class="next-days-card__temperature">{{ round this.entry.main.temp }}ยบ</div>
  <div class="next-days-card__situation">{{ capitalize this.entry.weather.firstObject.description }}</div>
  <div class="next-days-card__rain-chances">{{ this.entry.clouds.all }}% cloudiness</div>
  <div class="next-days-card__low-temperature">{{ round this.entry.main.temp_min }}ยบ low</div>
</div>