<div class="container has-small-panel container-background">
  <div class="panel panel--dense panel--translucid panel--small">
    <div class="align-center space-mb-2"><img src="img/logo.svg" alt="Forecaster"></div>

    <hr class="separator space-mb-3">

    <div class="input-group">
      <Input class="input-control" placeholder="Where are you now?" type="text" @value={{this.cityName}}
        @enter={{ fn this.goToForecast }} disabled={{this.loading}} />
      <button type="submit" class="btn input-group__after" {{ on 'click' this.goToForecast }}
        disabled={{ this.buttonDisabled }}>Go</button>
    </div>

    <hr class="separator space-mt-3 space-mb-2">

    <p class="body-1">Designed and developed by
      <a href="https://www.linkedin.com/in/maxmaccari/" target="_blank" rel="noopener noreferrer">Maxsuel Maccari</a>
    </p>
    <p class="body-1">
      You can check all credits of used assets <LinkTo @route="credits">here</LinkTo>.
    </p>
  </div>
</div>